		.c1{
			z-index: 1;
			position: static;
				border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border: 0px solid #000000;
	border: solid;
	border-color: black;
	border-width: 1px;
	
		}
		.c2{
			z-index: 2;
			position: relative;
			margin-top: -132%;
				border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border: 0px solid #000000;
	border: solid;
	border-color: black;
	border-width: 1px;
		}
		